<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pantallas_PIA_MAD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Pantallas_PIA_MAD.Properties.Settings.ProyectoMADConnectionString"
            connectionString="Data Source=CHUYGONZA_LAP;Initial Catalog=ProyectoMAD;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Pantallas_PIA_MAD.Properties.Settings>
            <setting name="CorreoGuardado" serializeAs="String">
                <value />
            </setting>
            <setting name="ContrasenaGuardada" serializeAs="String">
                <value />
            </setting>
            <setting name="TipoUsuarioGuardado" serializeAs="String">
                <value>0</value>
            </setting>
        </Pantallas_PIA_MAD.Properties.Settings>
    </userSettings>
</configuration>